.Main {
  display: flex;
  overflow: hidden;
  max-height: 100vh;
  background-color: #111;
}

.Main .container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.Main .container .outlet {
  flex-grow: 1;
  padding: 1rem 2rem;
  overflow-y: auto;
  margin-left: 240px;
}

.Main .container .navigation {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 240px;
  background-color: #15171b;
  z-index: 100;
  display: flex;
  flex-direction: column;
}

.Main .container .navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.brand {
  padding: 24px;
  color: #61dafb;
  font-size: 1.5rem;
  font-weight: bold;
}

.Main .container .navigation ul li {
  padding: 16px 24px;
  display: flex;
  align-items: center;
  color: #61dafb;
}

.Main .container .navigation ul li a {
  text-decoration: none;
  color: #61dafb;
  font-size: 1.1rem;
  cursor: pointer;
}

.Main .container .navigation ul li.active a,
.Main .container .navigation ul li:hover a {
  color: white;
}

.Main .container .navigation ul li.active,
.Main .container .navigation ul li:hover {
  background: #353a43;
}

/* Removed specific positioning for login/logout */
.Main .container .navigation ul li.logout,
.Main .container .navigation ul li.login {
  border-top: none;
}