.Main {
  display: flex;
  overflow: hidden;
  max-height: 100vh;
  background-color: #111;
}

.Main .container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.Main .container .outlet {
  flex-grow: 1;
  padding: 1rem 2rem;
  overflow-y: auto;
  margin-left: 80px; 
  transition: margin-left 0.3s ease;
}

.Main .container .navigation {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 80px; /* Start with minimized width */
  background-color: #15171b;
  z-index: 100;
  display: flex;
  flex-direction: column;
  transition: width 0.3s ease;
}

.Main .container .navigation:hover {
  width: 240px;
}

.Main .container .navigation:hover ~ .outlet {
  margin-left: 240px;
}

.Main .container .navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.brand {
  padding: 24px;
  color: #61dafb;
  font-size: 1.5rem;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
}

.brand h1 {
  transition: opacity 0.3s ease;
  opacity: 0;
  font-size: 1.5rem;
}

.navigation:hover .brand h1 {
  opacity: 1;
}

.Main .container .navigation ul li {
  padding: 16px 24px;
  display: flex;
  align-items: center;
  color: #61dafb;
}

.Main .container .navigation ul li a {
  text-decoration: none;
  color: #61dafb;
  font-size: 1.1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 12px;
  white-space: nowrap;
}

.Main .container .navigation ul li a span {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.Main .container .navigation:hover ul li a span {
  opacity: 1;
}

.Main .container .navigation ul li.active a,
.Main .container .navigation ul li:hover a {
  color: white;
}

.Main .container .navigation ul li.active,
.Main .container .navigation ul li:hover {
  background: #353a43;
}

.Main .container .navigation ul li.logout,
.Main .container .navigation ul li.login {
  border-top: none;
}




.Main .container .navigation ul li:nth-child(1) a::before {
  content: '🎬'; 
}


.Main .container .navigation ul li:nth-child(2) a::before {
  content: '📂'; 
}


.Main .container .navigation ul li:nth-child(3) a::before {
  content: '🔖'; 
}


.Main .container .navigation ul li.login a::before,
.Main .container .navigation ul li.logout a::before {
  content: '👤'; 
}


.Main .container .navigation ul li a::before {
  min-width: 24px;
  text-align: center;
  margin-right: 12px;
}